
{% extends "layout.html" %}

{% block jumbo %}

    <div class="jumbotron">
        <div class="container">

            <h1>Recompute</h1>

            <p>A demo</p>

      </div>
    </div><!-- /.jumbotron -->

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12" style="margin-bottom: 100px; margin-top: 100px">
            <form class="text-center" action="{{ url_for('recompute') }}" method="get">
                <span>Name: </span><input type="text" name="name" value="" placeholder="Enter name">
                <span>GitHub URL: </span><input type="text" name="github_url" value="" size="50" placeholder="Enter URL">
                <span>Base VM: </span>
                <select name="base_vm">
                {% for box in base_vagrantboxes %}
                    <option value="{{ box }}">{{ box }}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Create">
            </form>
        </div>

        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ID</th>
                        <th>TAG</th>
                        <th>VERSION</th>
                        <th>DATE</th>
                        <th>PLAY</th>
                        <th>DOWNLOAD</th>
                    </tr>
                </thead>
                <tbody>
                {% for recomputation in latest_recomputation %}
                    <tr>
                          <td><a href="{{ url_for('get_single_recomputation_page', name=recomputation.name) }}">{{ recomputation.name }}</a></td>
                          <td>ID xxx</td>
                          <td>TAG xxx</td>
                          <td>VERSION xxx</td>
                          <td>DATE xxx</td>
                        <td><a onclick="recomputation_play('{{ recomputation.name }}');" class="btn info"><i class="fa fa-play-circle"></i> Play</a></td>
                        <td><a onclick="recomputation_download('{{ recomputation.name }}');" class="btn btn-success"><i class="fa fa-download"></i> Download</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
