
{% extends "layout.html" %}

{% block jumbo %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h1>Recompute</h1>
                    <p>Recomputations: {{ recomputations_count }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="top-buffer col-md-12 text-center">
            <form class="form-inline" action="{{ url_for('create_recomputation') }}" method="POST">
                {{ recompute_form.hidden_tag() }}
                <div class="form-group">
                    <label for="name">Name</label>
                    {{ recompute_form.name(class="form-control", placeholder="Name", size="15")}}
                </div>

                <div class="form-group">
                    <label for="github_url">GitHub URL</label>
                    {{ recompute_form.github_url(class="form-control", placeholder="URL", size="40")}}
                </div>

                <div class="form-group">
                    <label for="box">Box</label>
                    {{ recompute_form.box(class="form-control")}}
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>

        <div class="top-buffer col-md-12">
            <header>LATEST RECOMPUTATION
                <div class="more"><a href="{{ url_for('recomputations_page') }}"><i class="fa fa-plus-square-o"></i> MORE</a></div>
            </header>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>ID</th>
                        <th>TAG</th>
                        <th>VERSION</th>
                        <th>LAST UPDATED</th>
                        <th>PLAY</th>
                        <th>DOWNLOAD</th>
                    </tr>
                </thead>
                <tbody>
                {% for recomputation in latest_recomputations_summary %}
                    <tr>
                        <td><a href="{{ url_for('recomputation_page', name=recomputation.name) }}">{{ recomputation.name }}</a></td>
                        <td>{{ recomputation.id }}</td>
                        <td>{{ recomputation.releases[0].tag }}</td>
                        <td>{{ recomputation.releases[0].version }}</td>
                        <td>{{ recomputation.releases[0].date }}</td>
                        <td><a onclick="play('{{ recomputation.name }}', '{{ recomputation.releases[0].tag }}', '{{ recomputation.releases[0].version }}');"><i class="fa fa-play-circle"></i> Play</a></td>
                        <td><a href="{{ url_for('download_vagrantbox', name=recomputation.name, tag=recomputation.releases[0].tag, version=recomputation.releases[0].version) }}"><i class="fa fa-download"></i> Vagrantbox</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
