<!DOCTYPE html>
<head>
    <title>Recompute</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>

<h1>Recompute</h1>

<form action="{{ url_for('recompute') }}" method="get">
    <span>NAME:</span><input type="text" name="hostname" value=""><br/>
    <span>GitHub URL:</span><input type="text" name="github_url" value="" size="50"><br />
    <span>BASE VM:</span>
        <select name="base_vm">
            <option value="ubuntu/trusty64">ubuntu/trusty64</option>
        </select><br/>
    <input type="submit" value="Create">
</form>

<h3>Virtual Machines</h3>
<form action="" method="get">
    NAME: <input type="text" name="hostname" value="">
    <input type="submit" value="Search">
</form>

<ul id="vms">
    {% for vm in vms %}
        <li><span class="hostname">{{ vm.hostname }}</span> <a href="{{ url_for('download', hostname=vm.hostname) }}" class="download">Download</a></li>
    {% endfor %}
</ul>


</body>
</html>