{% extends "layout.html" %}

{% block content %}

{% set latest_github_url = recomputation["vms"][0]["github_url"] %}
{% set latest_box = recomputation["vms"][0]["box"] %}
{% set vm = recomputation["vms"][0] %}


<div class="landing_container">

  <div class="page-header">
      <h1>Landing page: {{ recomputation["name"] }}/{{ recomputation["doi"] }}</h1>
  </div>

<div class="wrapper">
  <div class="upperpart">

    <div class="metadata">
      <!--  recomputation["metadata"]  -->
      METADATA<br>
      {{ recomputation["title"] }}; {{ recomputation["creator"] }}:<br>
      {{ recomputation["publisher"] }} ({{ recomputation["publicationyear"] }});<br>
      <small>{{ recomputation["metadata"] }};</small><br>
      Persistent identifier: <b>{{ recomputation["doi"] }}</b>
    </div>

    <div class="sidebuttons">

      <div class="sidebutton">
        <!--  recomputation["sourcecode"]  -->
        <a href="{{ latest_github_url }}">Github</a>
      </div>

      <div class="sidebutton">
        <a href="{{ reverse_url('download_vm', recomputation['name'], recomputation['vms'][0]['tag'], recomputation['vms'][0]['version']) }}"><i class="fa fa-download"></i>Download VM</a>
      </div>

      <div class="sidebutton" onclick="alert('Copy the citation: {{ recomputation["name"] }}:{{ recomputation["doi"] }}')" style="color:#008cba">
        Click to cite
      </div>

    </div>
    <!-- end of sidebuttons -->

  </div>
  <!-- end of upperpart -->

  <div class="lowerpart">

    <div class="playbuttons">

      <div class="controls" id="rewind">
        Rew
      </div>

      <div class="controls" id="playbutton">
        <a onclick="play('{{ recomputation['name'] }}', '{{ vm['tag'] }}', '{{ vm['version'] }}');"><i class="fa fa-play-circle">
        </i>Play</a>
      </div>

      <div class="controls" id="fastforward">
        FF
      </div>

    </div>
    <!-- end of playbuttons -->

  </div>
  <!-- end of lowerpart -->
</div>

</div>
<!-- end of landing_container -->

{% end %}
