<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title class="text-center">Recompute</title>

    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">

    <link rel="stylesheet" href="{{ static_url('jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('bootstrap.min.css') }}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ static_url('style.css') }}">
    <link rel="stylesheet" href="{{ static_url('play.css') }}">
</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Recompute</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path== reverse_url(
                'index') %} class="active" {% end %}><a href="{{ reverse_url('index') }}">Home</a></li>
                <li {% if request.path== reverse_url(
                'recomputations') %} class="active" {% end %}><a href="{{ reverse_url('recomputations') }}">Recomputations</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

{% block jumbo %}
{% end %}

<div class="container">

    {% block content %}{% end %}

</div>
<!-- /.container -->

<script>
function apiStatus(data) {
  console.log(data.status);
}




</script>
<script src="https://status.github.com/api/status.json?callback=apiStatus"></script>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="{{ static_url('term.js') }}"></script>
<script src="{{ static_url('play.js') }}"></script>
<script src="{{ static_url('recompute.js') }}"></script>

<script>
    function play(vm, tag, version) {
        var terminal_args = {
            cols: 80,
            rows: 24,
            useStyle: true,
            screenKeys: true,
            cursorBlink: true
        }
        make_play_window(document.body, terminal_args, vm, tag, version);
    }


    function recompute(name, github_url, box) {
        win = make_recompute_window(name, github_url, box);
        $("span#running_status").html("Running...");
        $("span#running_status").css("visibility", "visible");
        $.post("{{ reverse_url('recompute') }}", { "recomputation": name, "github_url": github_url, "box": box }, function(data) {
            win.destroy();
            alert("Server: " + data.responseText);
            window.location.reload();
        }).error(function(data) {
            $("span#running_status").css("visibility", "hidden");
            win.destroy();
            alert("Server: " + data.responseText);
        });
    }

    function update_recomputation(name, github_url, box) {
        win = make_recompute_window(name, github_url, box);
        $.post("{{ reverse_url('update_recomputation') }}", { "recomputation": name }, function(data) {
            alert("Server: " + data.responseText);
            window.location.reload();
        }).error(function(data) {
            win.destroy();
            alert("Server: " + data.responseText);
        });
    }

    function delete_recomputation(name) {
        $.post("{{ reverse_url('delete_recomputation') }}", { "recomputation": name }, function(data) {
            alert("Server: " + data.responseText);
            window.location.reload();
        }).error(function(data) {;
            alert("Server: " + data.responseText);
        });
    }

    function delete_vm(name, tag, version) {
        $.post("{{ reverse_url('delete_vm') }}", { "recomputation": name,  "tag": tag, "version": version }, function(data) {
            alert("Server: " + data.responseText);
            window.location.reload();
        }).error(function(data) {;
            alert("Server: " + data.responseText);
        });
    }


</script>

</body>
</html>
