<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title class="text-center">Recompute</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{url_for('static', filename='jquery-ui.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Recompute</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path == "/" %} class="active"{% endif %}><a href="{{ url_for('get_index_page') }}">Home</a></li>
                <li {% if request.path == "/software" %} class="active"{% endif %}><a href="{{ url_for('get_software_page') }}">Software</a></li>
                <li {% if request.path == "/languages" %} class="active"{% endif %}><a href="{{ url_for('get_languages_page') }}">Base VMs</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

{% block jumbo %}
{% endblock %}

<div class="container">

    {% block content %}
    {% endblock %}

</div><!-- /.container -->

<script>
function apiStatus(data) {
  console.log(data.status);
}
</script>
<script src="https://status.github.com/api/status.json?callback=apiStatus"></script>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="{{url_for('static', filename='jquery-ui.min.js')}}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script src="{{url_for('static', filename='term.js')}}"></script>
<script src="{{url_for('static', filename='play.js')}}"></script>

<script>
    function recomputation_play(vm) {
        var protocol = "ws";
        var ws_url = protocol + "://" + window.location.host + "/ws/play/";
        var terminal_opts = {
            cols: 80,
            rows: 24,
            useStyle: true,
            screenKeys: true,
            cursorBlink: true
        }
        var terminal = make_terminal(document.body,terminal_opts, ws_url);
    }

    function recomputation_download(vm) {
        window.location.href = "{{ url_for('get_vagrantbox', name='') }}" + vm
    }
</script>

</body>
</html>
