<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title class="text-center">Recompute</title>

    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">

    <link rel="stylesheet" href="{{ static_url('bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('jquery-ui.min.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ static_url('style.css') }}">
    <link rel="stylesheet" href="{{ static_url('play.css') }}">
    <link rel="stylesheet" href="{{ static_url('landing.css') }}">
</head>

<body>

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Recompute</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path== reverse_url(
                'index') %} class="active" {% end %}><a href="{{ reverse_url('index') }}">Home</a></li>
                <li {% if request.path== reverse_url(
                'recomputations') %} class="active" {% end %}><a href="{{ reverse_url('recomputations') }}">Recomputations</a></li>
                <!-- <li {% if request.path== reverse_url(
                'software') %} class="active" {% end %}><a href="{{ reverse_url('software') }}">Software</a></li> -->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

{% block jumbo %}
{% end %}

<div class="container">

    {% block content %}{% end %}

</div>
<!-- /.container -->

<script>
function apiStatus(data) {
  console.log(data.status);
}

</script>
<script src="https://status.github.com/api/status.json?callback=apiStatus"></script>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script src="{{ static_url('term.js') }}"></script>
<script src="{{ static_url('play.js') }}"></script>
<script src="{{ static_url('recompute.js') }}"></script>

<script>

    function make_dialog(title, innerHTML, redirect_url) {
        var resp = document.createElement("div");
        resp.id = "dialog-message"
        resp.title = title

        var innerText = document.createElement("p");
        innerText.innerHTML = innerHTML;

        resp.appendChild(innerText);

        document.body.appendChild(resp);

        $("#dialog-message").dialog({
          modal: true,
          draggable: true,
          buttons: {
            Ok: function() {
              $(this).dialog("close");
              window.location.href = redirect_url
            }
          }
        });
    }

    function make_dialog_delay(title, innerHTML, redirect_url, delay) {
        var resp = document.createElement("div");
        resp.id = "dialog-message"
        resp.title = title

        var innerText = document.createElement("p");
        innerText.innerHTML = innerHTML;

        resp.appendChild(innerText);

        document.body.appendChild(resp);

        $("#dialog-message").dialog({
          modal: true,
          draggable: true,
          buttons: {
            Ok: function() {
              $(this).dialog("close");
              window.location.href = redirect_url
            }
          }
        });
    }

    function play(vm, tag, version) {
        var terminal_args = {
            cols: 80,
            rows: 24,
            useStyle: true,
            screenKeys: true,
            cursorBlink: true
        }
        make_play_window(document.body, terminal_args, vm, tag, version);
    }

    function recompute(name, github_url, box) {
        win = make_recompute_window(name, github_url, box);
        $("span#running_status").html("Running...");
        $("span#running_status").css("visibility", "visible");
        $.post("{{ reverse_url('recompute') }}", { "recomputation": name, "github_url": github_url, "box": box }, function(data) {
            win.destroy();
            make_dialog("Recompute completed", data, window.location.href);
        }).error(function(data) {
            $("span#running_status").css("visibility", "hidden");
            win.destroy();
            make_dialog("Recompute failed", data.responseText, window.location.href);
        });
    }

    function fire_edit_recomputation(redirect_url) {
        $form = $("form#edit_recomputation");
        $form.submit(function(data) {
            $.post($(this).attr('action'), $(this).serialize(), function(data) {
            make_dialog("Recomputation edited", data, redirect_url);
            });
            return false;
        });
        $form.submit();
    }

    function fire_requestdoi(redirect_url) {
        $form = $("form#requestdoi");
        $form.submit(function(data) {
            $.post($(this).attr('action'), $(this).serialize(), function(data) {
            make_dialog_delay("Confirm request", data, redirect_url, 20);
            });
            return false;
        });
        $form.submit();
    }

    function update_recomputation(name, github_url, box) {
        win = make_recompute_window(name, github_url, box);
        $.post("{{ reverse_url('update_recomputation') }}", {"name": name}, function(data) {
            win.destroy();
            make_dialog("Recomputation updated", data, window.location.href);
        }).error(function(data) {
            win.destroy();
            make_dialog("Recomputation update failed", data.responseText, window.location.href);
        });
    }

    function delete_recomputation(name) {
        $.post("{{ reverse_url('delete_recomputation') }}", {"name": name}, function(data) {
            make_dialog("Recomputation deleted", data, window.location.href);
        }).error(function(data) {;
            make_dialog("Recomputation not deleted", data.responseText, window.location.href);
        });
    }

    function delete_vm(name, tag, version) {
        $.post("{{ reverse_url('delete_vm') }}", { "name": name,  "tag": tag, "version": version }, function(data) {
            make_dialog("Virtual machine deleted", data, window.location.href);
        }).error(function(data) {;
            make_dialog("Virtual machine not deleted", data.responseText, window.location.href);
        });
    }



</script>

</body>
</html>
