
{% extends "layout.html" %}

{% block content %}

    <div class="page-header">
        <h1>Recomputation: {{ recomputation.name }}</h1>
        <p>A demo</p>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div clas="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item"><span>NAME: {{ recomputation.name }}</span></li>
                        <li class="list-group-item"><span>ID: {{ recomputation.id }}</span></li>
                        <li class="list-group-item"><span>TAG: {{ recomputation.tag }}</span></li>
                        <li class="list-group-item"><span>VERSION: {{ recomputation.name }}</span></li>
                        <li class="list-group-item"><span>DATE: {{ recomputation.name }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
