
{% extends "layout.html" %}

{% block content %}

    <div class="page-header">
        <h1>Recomputation: {{ recomputation.name }}</h1>
        <p>A demo</p>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div clas="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item"><span>NAME: {{ recomputation.name }}</span></li>
                        <li class="list-group-item"><span>ID xxx</span></li>
                        <li class="list-group-item"><span>TAG xxx</span></li>
                        <li class="list-group-item"><span>VERSION xxx</span></li>
                        <li class="list-group-item"><span>DATE xxx</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
