
{% extends "layout.html" %}

{% block content %}

    <div class="page-header">
        <h1>Software</h1>
    </div>

    <div class="top-buffer row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline" id="filter_users_form" action="#" method="POST" name="filter_software">
                        <div class="form-group">
                            <label for="name" >Name</label>
                            {{ filter_software_form.name(type="text", class="form-control", id="name", placeholder="Name") }}
                        </div>
                        <a href="#" onclick="" class="btn btn-primary"><i class="fa fa-search"></i>Search</a>
                    </form>
                </div>
            </div>

            <table class="top-buffer table table-striped table-hover">
                <thead>
                    <tr>
                        <th>NAME</th>
                        <th>ID</th>
                        <th>TAG</th>
                        <th>VERSION</th>
                        <th>DATE</th>
                        <th>PLAY</th>
                        <th>DOWNLOAD</th>
                    </tr>
                </thead>
                <tbody>
                {% for recomputation in all_recomputation %}
                    <tr>
                        <td><a href="{{ url_for('get_single_recomputation_page', name=recomputation.name) }}">{{ recomputation.name }}</a></td>
                        <td>{{ recomputation.id }}</td>
                        <td>{{ recomputation.tag }}</td>
                        <td>{{ recomputation.version }}</td>
                        <td>{{ recomputation.date }}</td>
                        <td><a onclick="recomputation_play('{{ recomputation.name }}');"><i class="fa fa-play-circle"></i> Play</a></td>
                        <td><a onclick="recomputation_download('{{ recomputation.name }}');"><i class="fa fa-download"></i> Download</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
