<!DOCTYPE html>
<head>
    <title>Recompute</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    <script>
    var socket = io.connect("http://localhost:5000/tty");

    socket.on("response", function(msg) {
        console.log(msg);
    });

    function send() {
        socket.emit("connect", {"message": "xxx"});
    }

    console.log("hello");
</script>
</head>
<body>

<h1>Recompute tty</h1>

<form>
    <textarea placeholder="Connect to the server..."></textarea>
    <button type="button" onclick="send();">Connect</button>
</form>

</body>
</html>