Vagrant.configure("2") do |config|

  config.vm.box = "<BOX>"
  config.vm.hostname = "<HOSTNAME>.box"

  config.vm.provision :shell, :inline => "apt-get update"
  config.vm.provision :shell, :inline => "apt-get install -y git"
  config.vm.provision :shell, :inline => "apt-get install -y build-essential libssl-dev"
  config.vm.provision :shell, :inline => "apt-get install -y nodejs npm"

  config.vm.provision :shell, :inline => "git clone <GITHUB_URL>"
  config.vm.provision :shell, :inline => "cd <GITHUB_REPO_NAME>/ && npm install"

end
