.outer_container {
  width: 100%;
}

.landing_container {
  display: table;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  border: 2px solid #73AD21;
  background-color: #F2EFFB;
  border-radius: 4px;
  padding: 20px;
}

.metadata {
  background-color: #FAFAFA;
  border-radius: 15px;
  border: 2px solid #73AD21;
  float: left;
  width: 45%;
  padding: 10px;
}

.upperpart {
  margin: 0 auto;
}

.lowerpart {
  margin: 0 auto;
}

.wrapper {
  overflow: hidden;
}

.sidebuttons {
  float:right;
  width: 30%;
}

.sidebutton {
  margin: 15 px;
  border-radius: 12px;
  border: 2px solid #73AD21;
  background-color: #FAFAFA;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}


.playbuttons {
  margin: 150px;
}

.controls {
  float: left;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #73AD21;
  background-color: #DFE1E4;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  width: 25%;
}

#rewind {
  float: left;
}

#play {
  margin: 0 auto;
}

#fastforward {
  float: right;
}
/*.sourcecode {
  padding: 5px;
  border-radius: 7px;
  background-color: #EFFBEF;
}

.play {
  border-radius: 7px;
  background-color: #EFFBEF;
}

.orcid {
  border-radius: 7px;
  background-color: #EFFBEF;
}*/
